*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    display: block;
}
.section-1{
    padding: 0 1rem;
}
.hidden{
    display: none;
}
/* START OF NAV */
.nav-wraper{
    position: fixed;
    font-weight: 600;
    z-index: 1;
    font-size: 1rem;
    background-color: rgb(225, 255 ,255);
    height: 100%;
    transition: all 1s ease;
}
.nav-wraper li{
    list-style: none;
    padding: 2rem 3.5rem;
    color: #000;
}
.nav-wraper ul{
    margin-top: 2rem;
    list-style: none;
    
}
.nav-par{
    font-size: 1.2rem;
}
.nav-wraper a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.nav-wraper h1{
    padding: 2rem;
    font-size: 3.1rem;
    background-color: #080827;
    color: #fff;
    
}
.nav-btn-par{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 20%;
    text-align: center;
    left: 95%;
    position: absolute;
    top: 0;
    margin: 0;
}
.nav-par li:hover{
    color: rgb(9, 114, 5);
}
.nav-btn-par:hover{
    color: #221919;

}
#myButton{
    position: absolute;
    left: 4rem;
    top: 2rem;
}
#btnhide{
    position: absolute;
    top: 0.5rem;
    left: 12rem;
}
/* heading 1 */
.hero-wraper{
    padding: 3.2rem;
    flex-wrap: wrap;
    background-color: rgb(209, 235, 201);
}
.hero-sec-par{
    text-align: center;
    width: 100%;
    margin: 0;
}
.hero-sec-par h1{
    text-transform: uppercase;
    padding: 2rem;
    color: rgb(40, 51, 37);
    font-size: 2rem;
}
/* heading 2 */
.hero-sec-par2{
    padding: 0 2rem;
    text-transform: uppercase;
}
.hero-sec-content, .hero-wraper2{
    display: block;
}
.her-title-par2{
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}
.her-title-par2 h1{
    font-size: 3rem;
}
.hero-sec-skills{
    padding-left: 3rem;
}
.hero-sec-par span{
    color: rgb(226, 8, 143);
    font-size: 2rem;
}
.hero-sec-par0{
    background-color: rgba(200, 212, 212, 0.5);
    pad: 0.5rem;
    width: 100%;
    margin: 0;
}
.hero-sec-par2 ul{
    padding: 2rem 4rem;
    
}
.hero-sec-par3 span, .hero-sec-par3 li{
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;  
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    margin-top: 2rem;
    color: rgb(9, 7, 124);
    display: inline-table;
}
.hero-sec-par2 li{
    list-style: square;
    padding: 1rem;
    font-weight: 700;
    animation-name: Anim;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes Anim{
    0%{
        color: rgb(69, 129, 20);
    }
    50%{
        color: rgb(189, 12, 12);
    }
    100%{
        color: rgb(9, 12, 158);
    }
}
/* side wrap */
.hero-wrap2{  
    padding: 2rem;
    letter-spacing: .1rem;
    width: 100%;
    margin: 0;
}
.side{
    background-color: rgb(225, 255 ,255, 0.9);
}
.hero-image-wrap{
    width: 100%;
    background-color: rgba(158, 184, 184, 0.9);
    margin: 0;
    overflow: hidden;

}
.hero-image-style img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center center;
}
@media (min-width: 1280px) {
    .hero-sec-content, .hero-wrapper2 , .hero-wraper{
      display: flex;
    }
    .hero-sec-par h1, .hero-sec-par span{
        width: 100%;
        font-size: 4rem;
    }
    .hero-sec-par3 span, .hero-sec-par3 li{
        font-size: 1.3rem;
    }
    .hero-sec-par2 li{
        list-style: square;
    }
}
/* First Content */
.heron-content-wrap{
    padding: 4rem 0;
    margin: 2rem;
    letter-spacing: .1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.col-lg-4 {
    padding: 1.5rem;
}
.single-cat{
    border: 1px solid rgb(225, 235, 247);
    border-radius: 0.2rem;
    padding: 5rem 2rem;
    height: 22rem;
    transition: all 0.4s ease-out 0s;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 1;
}
.single-cat::before{
    content: '';
    width: 100%;
    background: rgb(236, 91, 83);
    height: 0%;
    position: absolute;
    left: 0;
    opacity: 0.9;
    transition: all 1s;
    bottom: -0;
}
.single-cat:hover::before{
    height: 100%;

}
@media(min-width: 1280px){
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 4rem;
    }
    .col-lg-4{
        width: 33.33%;
    }
}

.wraper-service{
    padding: 5rem 3rem;
    font-size: 1.5rem;
}
.px-y h1{
    margin: 1.3rem 0;
    position: relative;
}
/* FOOTER */
.hero-footer{
    text-align: center;
    display: grid;
    padding-bottom: 2rem;
}
.footer-wraper{
    background-color: #080827;
    padding: 3rem 0;
}
.portfolio-style a, .portfolio-style h1{
    padding: 0.5rem 0;
    display: inline-block; 
    font-size: 3rem;
    color: #fff;
}
.portfolio-style i{
    font-size: 2rem;
}
.hero-footer a{
    color: #fff;
    list-style: none;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: none;
    padding: 0.5rem;
    list-style: none;
}
.style-email{
    padding: 1rem;
}
.style-email a{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-last{
    padding: 0 5rem;
    font-size: 1rem;
    color: #afabab;
}
.footer-last li{
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.2rem;
}
.footer-last a{
    color: rgb(230, 224, 224, 0.5);
    transition: all 0.3s ease;
}
.footer-last a:hover{
    color: #fff;
}
@media(min-width: 1280px) {
    .hero-footer a{
        font-size: 1.5rem;
    }
    .style-email a{
        font-size: 3rem;
    }
    .footer-last{
        display: flex;
        justify-content: space-between;
    }
    .form-wraper{
        width: 30%;
    }
}
/* contact wraper */
.contact-wrapper{
    display: block;
    margin-top: 0em;
}
.form-wraper{
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(206, 200, 200, 0.2);
    border-radius: 1rem;


}
input{
    background: rgb(255, 255, 255);
    height: 4rem;
    width: 100%;
    padding: 0.8rem 1.6rem;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 30px;
    border-radius: 1rem;
    font-size: 1rem;

}
.contact-wrapper textarea{
    color: #000;
    background: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
    height: 10rem;
    width: 100%;
    padding: 2rem 1.8rem;
    border: 0;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.submit-btn2{
    background: rgb(236, 91, 83);
    width: 100%;
    height: 4rem;
    padding: 0.5rem 0.8rem;
    border: 0px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 1rem;
}